$color-white: #ffffff;
$color-primary: #FEE2B3;
$color-orange: #FF980F;
$color-orange-ish: #FDBC0C;
$color-blackish: #0F222B;
$color-transparent: rgba(255, 255, 255, 0.27);
$color-transparent-orange: rgba(168, 54, 24, 0.27);